@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
    --navy: #002772;
    --light-pink: #fde2ff;
    --black: #1e1e1e;
    --purple: #720060;
    --light-blue: #d6e6ff;
    --gray: #3f3f3f;
    --light-gray: #dcdcdc;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: -12%;
    left: 0;
    width: 100%;
}

.overlay > img {
    width: 100%;
}

.card {
    display: flex;
    position: relative;
    z-index: 2;
    width: 80%;
    height: 70vh;
    background-color: var(--white);
    border-radius: 10px;
    padding: 48px 32px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* loader when get data from API*/
.loader {
    border: 16px solid var(--light-gray);
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    /* justify-content: center; */
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -76px 0 0 -76px;
}

/* available product */
.productContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 16px;
    height: 100%;
}

.productThumbnail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productThumbnail > img {
    width: 80%;
}

.productDetails {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.productDetails .title {
    font-size: 32px;
    font-weight: 600;
}

.productDetails .subTitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 14px;
    font-size: 16px;
    color: var(--gray);
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray);
}

.productDetails .rating {
    display: flex;
    gap: 3px;
    align-items: center;
}

.rating > .circle {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

.productDetails .description {
    width: 100%;
    margin-top: 24px;
    font-size: 18px;
    color: var(--black);
}

.productDetails > .bottom {
    padding-top: 16px;
    border-top: 1px solid var(--gray);
}

.productDetails .price {
    font-size: 32px;
    font-weight: 600;
}

/* unavailable product */
.productUnavailableContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.productUnavailableContainer > .overlay {
    top: 10%;
    left: 5%;
}
.productUnavailableContainer > .productDetails {
    text-align: center;
    z-index: 2;
}
.productUnavailableContainer .buttonNext {
    margin: 0px auto;
    border: 2px solid black;
    color: black;
}

.button {
    margin-top: 16px;
    width: 100%;
    display: flex;
    gap: 12px;
}

.button > .buttonBuy,
.button > .buttonNext {
    width: 35%;
    height: 36px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.button > .buttonBuy {
    color: var(--white);
    border: none;
}

.button > .buttonNext {
    background-color: var(--white);
}

.bgMan {
    background: linear-gradient(180deg, var(--light-blue) 65%, var(--white) 50%);
}

.bgWoman {
    background: linear-gradient(180deg, var(--light-pink) 65%, var(--white) 50%);
}

.bgUnavailable {
    background: linear-gradient(180deg, var(--light-gray) 65%, var(--white) 50%);
}

.colorNavy {
    background-color: var(--navy);
}

.colorPurple {
    background-color: var(--purple);
}

.borderNavy {
    border: 2px solid var(--navy);
}

.borderPurple {
    border: 2px solid var(--purple);
}

.fontNavy {
    color: var(--navy);
}

.fontPurple {
    color: var(--purple);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}